<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İklim Krizi Haberleri</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>İklim Krizi Haberleri</h1>
        <button id="modeToggle" class="mode-toggle">Dark Mode</button>
        <!-- Yeni eklenen Haber Ekle butonu -->
        <a href="http://localhost:5000/admin" class="add-news-btn">Haber Ekle</a>
    </header>
    <main>
        {% if articles %}
            <div class="articles-container">
                {% for article in articles %}
                    <article class="card">
                        <header>
                            <h2><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></h2>
                        </header>
                        <p>{{ article.summary }}</p>
                        <p><strong>Kategori:</strong> {{ article.category }}</p>
                        <p><strong>Öneri:</strong> {{ article.suggestion }}</p>
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <p>Gösterilecek haber bulunamadı.</p>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2025 İklim Krizi Haberleri</p>
    </footer>
    <script>
        const modeToggle = document.getElementById('modeToggle');
        modeToggle.addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
            if (document.body.classList.contains('dark-mode')) {
                modeToggle.textContent = 'Light Mode';
            } else {
                modeToggle.textContent = 'Dark Mode';
            }
        });
    </script>
</body>
</html>
